<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Warrior Challenge | Treasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="style/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">

    <!-- Include the core AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

    <!-- Include the AngularJS routing library -->
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Treeview -->
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">

  </head>
  <body>
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <div class="logo">
            <img src="img/treasy-logo.png" />
          </div>
        </div>
      </div>
      <div ng-app="myApp">
        <script type="text/ng-template" id="nodes_renderer2.html">
          <div class="tree-node">
            <div class="pull-left tree-handle" ui-tree-handle>
              <span class="glyphicon glyphicon-list"></span>
            </div>
            <div class="tree-node-content">
              <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon" ng-class="{
                  'glyphicon-chevron-right': collapsed,
                  'glyphicon-chevron-down': !collapsed
                  }">
                </span>
              </a>
        
              <input type="text" ng-model="node.title">
        
              <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
              <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer2.html'">
            </li>
          </ol>
        </script>
        <div class="row" ng-controller="MyController">
            <div class="col-sm-12">
              <div class="instruction-block">
                <h1 class="title">Warriors Challenge</h1>
                <p class="text">Todos os itens estão com <span>drag and drop</span> ativado, apenas arraste-os para mudar sua posição ou node. <br>Para editar o nome de um item apenas troque dentro do input. <br>Ao clicar no icone de mais será adicionado um novo filho ao node correspondente.</p>
              </div>
            </div>
          <div class="col-sm-12 with_background">
            <div class="input-wrap">
              <h4>Filtrar</h4>
              <input ng-model="query" ng-change="findNodes()">
            </div>
          </div>
          <div class="col-sm-12 with_background">
              <div ui-tree id="tree2-root" data-clone-enabled="true">
                <ol ui-tree-nodes="" ng-model="tree2">
                  <li ng-repeat="node in tree2" ui-tree-node ng-include="'nodes_renderer2.html'" ng-show="visible(node)"></li>
                </ol>
              </div>
          </div>
        </div>
    </div>
    </div>
  </div>

    <!-- Modules -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

  </body>
</html>
