/* Variáveis */

@white: #FFF;
@green: #a0bc4e;
@gray: #2b2b2b;
@light-gray: #888;
@mid-gray: #ccc;
@bg-gray: #f2f2f2;
* {
  font-family: 'Roboto';
}

.logo {
  padding: 40px 0;
  text-align: center;
}

.title {
  color: @green;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.text {
  width: 60%;
  text-align: center;
  margin: 0 auto 40px;
  @media screen and (max-width: 414px) {
    width: 100%;
  }
}

.angular-ui-tree {
  margin: 20px 0;
}

.tree-node {
  background: @white;
  border: 1px solid @mid-gray;
  border-radius: 4px;
  color: @light-gray;
  margin: 5px 0;
  padding: 5px;
  transition: all ease 0.3s;
  .pull-left {
    margin-top: 3px;
  }
  &:hover {
    background: @green;
    border: 1px solid @green;
    color: @white;
    .btn-success {
      background: none;
      border: none;
      box-shadow: none;
      color: @white;
      &:active {
        background: none;
        border: none;
        color: @white;
      }
    }
    .tree-node-content {
      input { 
        color: #FFF;
      }
    }
  }
  .btn-success {
    background: none;
    border: none;
    color: @green;
    padding-top: 3px;
  }
  .pull-right  {
    color: @white !important;
  }
  .tree-node-content {
    input {
      background: none;
      border: none;
      border-bottom: 1px solid #FFF;
      color: @light-gray;
      padding-left: 5px;
    }
  }
}

.with_background {
  background: @bg-gray;
  padding: 20px 0 0;
}

.input-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h4 {
    margin-right: 10px;
  }
  input {
    padding: 0 5px;
    border: 1px solid @light-gray;
    border-radius: 4px;
    box-shadow: none;
    width: 60%;
    height: 35px;
  }
}