/* Variáveis */
* {
  font-family: 'Roboto';
}
.logo {
  padding: 40px 0;
  text-align: center;
}
.title {
  color: #a0bc4e;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
.text {
  width: 60%;
  text-align: center;
  margin: 0 auto 40px;
}
@media screen and (max-width: 414px) {
  .text {
    width: 100%;
  }
}
.angular-ui-tree {
  margin: 20px 0;
}
.tree-node {
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #888;
  margin: 5px 0;
  padding: 5px;
  transition: all ease 0.3s;
}
.tree-node .pull-left {
  margin-top: 3px;
}
.tree-node:hover {
  background: #a0bc4e;
  border: 1px solid #a0bc4e;
  color: #FFF;
}
.tree-node:hover .btn-success {
  background: none;
  border: none;
  box-shadow: none;
  color: #FFF;
}
.tree-node:hover .btn-success:active {
  background: none;
  border: none;
  color: #FFF;
}
.tree-node:hover .tree-node-content input {
  color: #FFF;
}
.tree-node .btn-success {
  background: none;
  border: none;
  color: #a0bc4e;
  padding-top: 3px;
}
.tree-node .pull-right {
  color: #FFF !important;
}
.tree-node .tree-node-content input {
  background: none;
  border: none;
  border-bottom: 1px solid #FFF;
  color: #888;
  padding-left: 5px;
}
.with_background {
  background: #f2f2f2;
  padding: 20px 0 0;
}
.input-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.input-wrap h4 {
  margin-right: 10px;
}
.input-wrap input {
  padding: 0 5px;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: none;
  width: 60%;
  height: 35px;
}
